* {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 20px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

$table-text: #ececec;
$body-bg: #151515;
$table-data-bg: #434343;

body {
	background-color: $body-bg;
}

section {
	padding: 15px 20px;
	display: flex;
	justify-content: center;
}

#nav {
	padding-top: 25px;
	a {
		font-size: 1.3em;
		color: $table-data-bg;
		background-color: darken(lightgreen, 5);
		padding: 15px 25px;
		text-align: center;
		text-decoration: none;
		border-radius: 10px;

		&:hover {
			background-color: lightgreen;
		}
	}
}

#main {
	flex-direction: column;

	.table-divider {
		width: 100%;
		display: flex;
		justify-content: center;
	}

	table {
		width: 90%;
		max-width: 700px;
		color: $table-text;
		border-collapse: collapse;

		tr {
			display: grid;
			grid-template-columns: 120px 1fr;

			a {
				color: $table-text;
				text-decoration: none;
				&:hover {
					font-weight: 500;
				}
				&:visited {
					color: lightsalmon;
				}
			}
			th,
			td {
				text-align: left;
				padding: 6px 20px;
				border-bottom: $body-bg solid 2px;
			}
			th {
				align-self: center;
				text-align: center;
				margin-top: 1em;
				font-size: 1em;
				text-transform: uppercase;
				background-color: #195ca0;
			}
			td {
				background-color: $table-data-bg;
			}
		}
	}
}
